{% extends 'front/master.html' %}
{% load static %}

{% block headblock %}

        <title>STOCK ADVISOR | Stock</title>
        <meta charset="utf-8">

{% endblock %}

{% block mainblock %}

    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Stock Price Predictions</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="{% static 'front/images/hero_1.jpg' %}" alt="Image" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">원하는 기업을 선택하세요</h3>
              <p>최고의 주식 투자를 위하여~~!</p>

            </div>



            <div class="mb-4">
              <ul class="list-unstyled ul-check success">

                <!-- <nav>
                
                  <label for="touch"><span>titre</span></label>               
                  <input type="checkbox" id="touch"> 
                
                  <ul class="custom-select">
                    <li><a href="#">제</a></li> 
                    <li><a href="#">발</a></li>
                    <li><a href="#">제</a></li>
                    <li><a href="#">발</a></li>
                  </ul>
                
                </nav>  -->
              
              <form id="make_checkbox_select">
                <select class="custom-select" id="inputGroupSelect01">
                  {% for x in allstocks %}
                     <!-- <option value="{{ x }}">
                            {{ x }}
                     </option> -->
                     <li><a href="#"><option value="{{ x }}">{{ x }}</a></li>
                  {% endfor %}
                </select>
               
                <a class='btn btn--blue'>제출을 위해선 여기를 눌러주세요</a>
                <input type='submit' class='btn btn--blue' value='Click Me' />            
              </form>


                {% comment %} {% for i in allstocks %}
                     <li><a href="{% url 'stock_detail' word=i.name %}">{{i.name}}</a> </li>
                     <li><a href="{% url 'stock_detail' word=i %}">{{i}}</a> </li>    리스트 한줄씩 추가 
                {% endfor %}{% endcomment %}
              </ul>

            </div>



          </div>
        </div>
      </div>
    </div>

{% endblock %}
