{% extends 'front/master.html' %}
{% load static %}
<style>
  .container{
    height: 100vh;
    width: 100vh;
    background-image : url("https://www.ito.or.kr/images/bbs/galleryko/2021/yeonsugu_gyeongwonjae_(2).jpg");
    background-size: cover;
}
  </style>
{% block headblock %}

        <title>STOCK ADVISOR | Stock</title>
        
        <meta charset="utf-8">

{% endblock %}

{% block mainblock %}

    <div class="site-section cta-big-image" id="about-section">
      <div class="container" style="width: 100%;height: 100vh;">
        <div class="row mb-5">
          <!-- <div class="col-12 text-center" data-aos="fade" style="margin-top: 20px;">
            <h2 class="section-title mb-3">Stock Price Predictions</h2>
          </div> -->
        </div>
 

        <div class="container" style="background-color:#00ff0000; width: 1500px; height: 420px; padding-top: 0px; padding-bottom: 10px;">
          <div class="row">
          <div class="col-6">
            <h2 style="color:black; font-size: 20px; margin-top: 200px ;margin-left: 70px;">Stocks predicted to <span style="color:#FF0000">soar</span> in a month 
              <span style="margin-left: 20px; font-size: 15px; color:#555555"><script>
              date = new Date().toLocaleDateString();
              document.write(date);
              </script></span>
              </h2>
          </div>
          <div class="col-6">
            <h2 style="color:black; font-size: 20px; margin-top: 200px ;margin-left: 60px;">Stocks predicted to <span style="color:#0015ff">crash</span> in a month
            <span style="margin-left: 20px; font-size: 15px; color:#555555"><script>
              date = new Date().toLocaleDateString();
              document.write(date);
              </script></span>
              </h2>
          </div>
          </div>
          
          <div class="row" >
            <div class="col-xs-6">
              <table border="none" summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive" style="margin-left: 12px; margin-bottom: 30px; width: 540px; background-color: rgb(255, 255, 255);">
                <thead>
                  <tr style="vertical-align: center; text-align: center;">
                    <th>Ranking</th>
                    <th>Company</th>
                    <th>Surge Rate <span style="font-size: 12px;">(%)</span> </th>
                    <th>Current price <span style="font-size: 12px;">(KRW)</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="vertical-align: center; text-align: center;">
                    <td>1</td>
                    <td>{{h1name}}</td>
                    <td>
                      {{h1rate}} <img class="triangle" style="vertical-align: baseline;"></img>
                      </td>
                    <td>{{h1price}}</td>
                  </tr>
                  <tr style="vertical-align: center; text-align: center;">
                    <td>2</td>
                    <td>{{h2name}}</td>
                    <td>{{h2rate}} <img class="triangle" style="vertical-align: baseline;"></img></td>
                    <td>{{h2price}}</td>
                  </tr>
                  <tr style="vertical-align: center; text-align: center;">
                    <td>3</td>
                    <td>{{h3name}}</td>
                    <td>{{h3rate}} <img class="triangle" style="vertical-align: baseline;"></img></td>
                    <td>{{h3price}}</td>
                  </tr>
                  <tr style="vertical-align: center; text-align: center;">
                    <td>4</td>
                    <td>{{h4name}}</td>
                    <td>{{h4rate}} <img class="triangle" style="vertical-align: baseline;"></img></td>
                    <td>{{h4price}}</td>
                  </tr>
                  <tr style="vertical-align: center; text-align: center;">
                    <td>5</td>
                    <td>{{h5name}}</td>
                    <td>{{h5rate}} <img class="triangle" style="vertical-align: baseline;"></img></td>
                    <td>{{h5price}}</td>
                  </tr>
                </tbody>
                
              </table>
            </div>
            <div class="col-xs-6" style="margin-left: 30px;">
              <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive" style="margin-left: 7px; margin-bottom: 30px; width: 540px; background-color: rgb(255, 255, 255);">
                <thead>
                  <tr style="vertical-align: center; text-align: center;">
                    <th>Ranking</th>
                    <th>Company</th>
                    <th>Surge Rate <span style="font-size: 12px;">(%)</span> </th>
                    <th>Current price <span style="font-size: 12px;">(KRW)</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="vertical-align: center; text-align: center;">
                    <td>1</td>
                    <td>{{l1name}}</td>
                    <td>
                      <!-- <tr>45 <div class="triangle" style="vertical-align: baseline;"></div></tr> -->
                      {{l1rate}} <img class="triangle-down" style="vertical-align: baseline;"></img>
                      </td>
                    <td>{{l1price}}</td>
                  </tr>
                  <tr style="vertical-align: center; text-align: center;">
                    <td>2</td>
                    <td>{{l2name}}</td>
                    <td>{{l2rate}} <img class="triangle-down" style="vertical-align: baseline;"></img></td>
                    <td>{{l2price}}</td>
                  </tr>
                  <tr style="vertical-align: center; text-align: center;">
                    <td>3</td>
                    <td>{{l3name}}</td>
                    <td>{{l3rate}} <img class="triangle-down" style="vertical-align: baseline;"></img></td>
                    <td>{{l3price}}</td>
                  </tr>
                  <tr style="vertical-align: center; text-align: center;">
                    <td>4</td>
                    <td>{{l4name}}</td>
                    <td>{{l4rate}} <img class="triangle-down" style="vertical-align: baseline;"></img></td>
                    <td>{{l4price}}</td>
                  </tr>
                  <tr style="vertical-align: center; text-align: center;">
                    <td>5</td>
                    <td>{{l5name}}</td>
                    <td>{{l5rate}} <img class="triangle-down" style="vertical-align: baseline;"></img></td>
                    <td>{{l5price}}</td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>

        

        </div>
        <!-- <div class="row"> -->
        <div class="col-12" style="margin-left: 15px; margin-top: 380px; margin-bottom: 120px;">
          <a href="#stockpredict" class="mouse smoothscroll" >
            <span class="mouse-icon2">
              <span class="mouse-wheel2"></span>
            </span>
          </a>
          <!-- <p style="color: black; font-size: 20px; text-align: center; margin-left: 530px; margin-bottom: 100px;">Go Down 예쁘게 업데이트해야함</hp> -->
          <!-- <p style="color: black; font-size: 20px; text-align:center; margin-bottom: 100px;">Go Down 예쁘게 업데이트됨</hp> -->
        </div>

        
        <div class="row" id="stockpredict">
          <div class="col-lg-3 mb-5" style="margin-top: 150px" data-aos="fade-up" data-aos-delay="">
            <!-- TradingView Widget BEGIN -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_d1a34"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/KRX-KOSPI200/" rel="noopener" target="_blank"><span class="blue-text">KOSPI200 Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 600,
  "height": 300,
  "symbol": "KRX:KOSPI200",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "2",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "hide_top_toolbar": true,
  "allow_symbol_change": true,
  "save_image": false,
  "container_id": "tradingview_d1a34"
}
  );
  </script>
</div>
          </div>
          <div class="col-lg-5 ml-auto" style="margin-top: 120px;" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <ul class="list-unstyled ul-check success">              
              



              {% comment %} <form action="{% url 'stock_detail_dj'%}" method="POST"> {% endcomment %}
              <form action="/stock_detail_dj" method="POST">
                {% csrf_token %}
                    <div style="display: flex; align-items: center; width:700px; margin-bottom:20px; margin-top: 50px;">
                            <span style="font-size:16px;color:#555555;">Select company</span>
                            <select name="stockname" class="custom-select" id="inputGroupSelect01" aria-label="Default select example" style="margin-left:20px; width:190px;">
                                {% for x in allstocks %}
                                    <option value="{{x}}">{{x}}</option>
                                {% endfor %}
                            </select>
    
                    </div>

    
                <!--   수량   -->
                    <div id="mainDiv" style="display: flex; align-items: center; margin-bottom:25px; margin-top:20px; font-size:16px;color:#555555;">
                      Select predict period <input type="number" name="quantity" style="width:70px; margin-left:50px;" value="30" max = "100" min="1" id="numberPlace" class="form-control qty-input text-center">
                    </div>
                <!--   수량  끝 -->
    
                <button class="button button1">Submit</button>
                </form>
                
             <script>
        document.getElementById('numberPlace').value = '1';
            </script>

            





                {% comment %} {% for i in allstocks %}
                     <li><a href="{% url 'stock_detail' word=i.name %}">{{i.name}}</a> </li>
                     <li><a href="{% url 'stock_detail' word=i %}">{{i}}</a> </li>    리스트 한줄씩 추가 
                {% endfor %}{% endcomment %}
              </ul>

            </div>



          </div>
        </div>
      </div>
    </div>
    <div style="height: 500px;">

    </div>
{% endblock %}
