{% extends 'front/master.html' %}
{% load static %}

{% block headblock %}

    {% for i in showstock %}
    <title>STOCK ADVISOR | {{ i.name }}</title> 
    {% endfor %}
    <meta charset="utf-8">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawAxisTickColors);

        function drawAxisTickColors() {
              var data = new google.visualization.DataTable();
              data.addColumn('number', 'X');
              data.addColumn('number', 'real');
              data.addColumn('number', 'predicted');
              data.addRows({{ df }});
              var options = {
                hAxis: {
                  title: 'Time (In days)',
                  textStyle: {
                    color: '#01579b',
                    fontSize: 24,
                    fontName: 'Arial',
                    bold: true,
                    italic: true
                  },
                  titleTextStyle: {
                    color: '#01579b',
                    fontSize: 36,
                    fontName: 'Arial',
                    bold: true,
                    italic: true
                  }
                },
                vAxis: {
                  title: 'Stock Price',
                  textStyle: {
                    color: '#1a237e',
                    fontSize: 24,
                    bold: false
                  },
                  titleTextStyle: {
                    color: '#1a237e',
                    fontSize: 24,
                    bold: true
                  }
                },
                colors: ['#a52714', '#097138']
              };
              var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
              chart.draw(data, options);
            }
    </script>

{% endblock %}

{% block mainblock %}

<div class="site-section cta-big-image" id="about-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center" data-aos="fade">
        <h2 class="section-title mb-3">Prediction of {{ showstock.0 }} Stock Price</h2>
      </div>
    </div>
  </div>
</div>
<div class="site-section cta-big-image" id="about-section">
  <div class="row">
    <div class="col-lg-4" style="vertical-align: top; margin-left: 70px;" data-aos="fade-up" data-aos-delay="">
      
      <div id="chart_div" style="width: 1100px; height: 700px"></div>
      <!-- <img src="{{i.picurl}}" alt="Image" class="img-fluid"> -->
      
    </div>
    <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
      <div class="mb-1">
        <h3 class="h3 mb-4 text-black">Prediction Result</h3>

        <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive" style="margin-bottom: 70px; width: 540px;">
          <thead>
            <tr style="vertical-align: center; text-align: center;">
              <th>Ranking</th>
              <th>Company</th>
              <th>Surge Rate <span style="font-size: 12px;">(%)</span> </th>
              <th>Current price <span style="font-size: 12px;">(KRW)</span></th>
            </tr>
          </thead>
          <tbody>
            <tr style="vertical-align: center; text-align: center;">
              <td>1</td>
              <td>LG</td>
              <td>
                <!-- <tr>45 <div class="triangle" style="vertical-align: baseline;"></div></tr> -->
                45 <img class="triangle" style="vertical-align: baseline;"></img>
                </td>
              <td>31000</td>
            </tr>
          </tbody>
          
        </table>
        
        <div class="mb-4">
          <p>Day 0 is reference(i.e, Today)</p>
        <ul class="list-unstyled ul-check success">
          <li>Best Invest Time - Day {{ it }} </li>
          <li>Best Divest Time - Day {{ dt }} </li>
        </ul>
          <p><b>For an amount of Rs10000 investment you would be getting approx Rs{{ ratio }}</b></p>

      </div>
        
        <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive" style="margin-bottom: 70px; width: 540px;">
          {% comment %} <thead>
            <td style="vertical-align: center; text-align: center;">
              <th>Ranking</th>
              <th>Company</th>
              <th>Surge Rate <span style="font-size: 12px;">(%)</span> </th>
              <th>Current price <span style="font-size: 12px;">(KRW)</span></th>
            </td>
          </thead> {% endcomment %}
          <tbody>
            <tr style="vertical-align: center; text-align: center;">
              <th style="width: 100px;">회사명</th>
              <td>{{ showstock.0 }}</td>
            <tr style="vertical-align: center; text-align: center;">
              <th>종목 코드</th>
              <td>{{ showstock.name }}</td>
            </tr>
            <tr style="vertical-align: center; text-align: center;">
              <th>업종</th>
              <td>{{ showstock.1 }}</td>
            </tr>
            <tr style="vertical-align: center; text-align: center;">
              <th>주요 제품</th>
              <td>{{ showstock.2 }}</td>
            </tr>
            <tr style="vertical-align: center; text-align: center;">
              <th>상장일</th>
              <td>{{ showstock.3 }}</td>
            </tr>
            <tr style="vertical-align: center; text-align: center;">
              <th>결산월</th>
              <td>{{ showstock.4 }}</td>
            </tr>
            <tr style="vertical-align: center; text-align: center;">
              <th>대표자명</th>
              <td>{{ showstock.5 }}</td>
            </tr>
            <tr style="vertical-align: center; text-align: center;">
              <th>홈페이지</th>
              <td><a href={{showstock.6}} target= "_blank">{{ showstock.6 }}</a></td>
            <tr style="vertical-align: center; text-align: center;">
              <th>지역</th>
              <td>{{ showstock.7 }}</td>
            </tr>
          </tbody>
          
        </table>


            </div>


            



          </div>
        </div>
      </div>


{% endblock %}