asgiref==3.5.0
blinker==1.4

certifi==2022.5.18.1

Django==4.0.3

google-pasta==0.2.0

inflection==0.5.1
joblib==1.1.0

more-itertools==8.13.0
matplotlib==3.5.2
munkres==1.1.4

pandas==1.4.2
pykrx==1.0.33
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.7

pytz==2022.1

Quandl==3.7.0

scikit-learn==1.1.1

sqlparse==0.4.2

termcolor==1.1.0

tensorflow-gpu==2.9.1
